// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup{
    text-align: center;
    padding-top: 10em;
  }
  .Error-message{
    text-align: center;
  }

  .Postbox{
    text-align: center;
  }